<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
	<p>The button was last pushed on: <span id="message">null</span></p>

	<button id="button">Push Me!</button>

	<script>
	var source = new EventSource("/channel?channels=channel");
	source.addEventListener("message", function (e) {
		var message = document.getElementById("message");
		message.textContent = e.data;
	});

	var button = document.getElementById("button");
	button.addEventListener("click", function (e) {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/push');
		xhr.send(null);
	});

	</script>
</body>
</html>